<!-- 会员列表 -->
{{if memberInfos.length}}
<table cellpadding="0" cellspacing="0" border="0" width="90%" class="table auto mt-20 striped">
	
	<thead class="list-head">
		<tr>
			<td width="5%">
				序号
				<input type="checkbox" allCheck>
			</td>

			<td width="10%">
				<a href="javascript:;" sort-head="nickname" order="asc">会员名称</a>
			</td>

			<td  width="10%">
				<a href="javascript:;" sort-head="memberrank" order="asc">会员级别</a>
			</td>

			<td  width="10%">
				<a href="javascript:;" sort-head="memberstatus" order="asc">会员状态</a>
			</td>

			<td width="10%">手机号码</td>

			<td width="10%">
				<a href="javascript:;" sort-head="memberintegral" order="asc">会员积分</a>
			</td>

			<td width="10%">账号名称</td>
			
			<td width="10%">
				<a href="javascript:;" sort-head="memberfrom" order="asc">来源渠道</a>
			</td>

			<td width="10%">参加活动总数</td>

			<td>管理</td>
		</tr>
	</thead>
	<tbody class="list-body">
		{{each memberInfos}}
		<tr>
			<td>
				{{( (pageutil.pageSize * 1) * (pageutil.pageNum - 1) + ( $index + 1  ) ) }}
				<input type="checkbox" check pid="{{$value.pkMemberid}}">
			</td>
			<td>
				<a href="{{getUrl 'memberForm'}}&memberid={{$value.pkMemberid}}">{{$value.nickname}}</a>
			</td>
			<td>
				<a href="{{getUrl 'memberLevelForm'}}&type=edit&aid={{$value.memberrank}}">
					{{$value.vdef10}}
				</a>
			</td>
			<td>
				{{if $value.memberstatus == 1}}
					已关注
				{{else}}
					未关注	
				{{/if}}
			</td>
			<td>{{$value.cellphone}}</td>
			<td>
				<a href="{{getUrl 'memberDetail'}}&memberid={{$value.pkMemberid}}&name={{$value.nickname}}&pid=5">{{$value.memberintegral}}</a>
			</td>
			<td>{{$value.accountid}}</td>
			
			<td>
				{{if $value.memberfrom == '001'}}
					微信
				{{else if $value.memberfrom =='002'}}
					新浪微博	
				{{else}}
				    其他
				{{/if}}
			</td>
			<td>{{$value.activitycount}}</td>
			<td>
				<!-- <a href="javascript:;" aid="{{$value.pkMemberid}}" remove>删除</a> -->
				<a href="{{getUrl 'memberDetail'}}&memberid={{$value.pkMemberid}}&name={{$value.nickname}}">详情</a>
				<span>|</span>
				<a href="javascript:;" aid="{{$value.pkMemberid}}" isBlack="{{$value.reserve7}}" black>
					{{if $value.reserve7 == 0}}
					取消拉黑
					{{else}}
					拉黑
					{{/if}}
				</a> 
			</td>
		</tr>
		{{/each}}
	</tbody>
	
	
</table>

<div class="inner-wrap">
	<span>每页显示：</span>
	<a href="javascript:;" pageNum="20" class="btn btn-primary btn-xs">20</a>
	<a href="javascript:;" pageNum="50" class="btn btn-primary btn-xs">50</a>
	<a href="javascript:;" pageNum="80" class="btn btn-primary btn-xs">80</a>
</div>
{{else}}
	<div class="tc mt-20">暂无任何会员</div>
{{/if}}