<!-- 智能答复列表 -->
{{if autoreplys.length}}
<table cellpadding="0" cellspacing="0" border="0" width="90%" class="table striped auto mt-20">
	<thead>
		<tr>
			<td colspan="6" class="tr">
				<a class="btn btn-primary" href="{{getUrl 'autoReplyEdit'}}">添加</a>
			</td>
		</tr>
		<tr>
			<td width="10%">序号</td>
			<td width="15%">问题内容</td>
			<td width="15%">匹配类型</td>
			<td width="10%">答复类型</td>
			<td width="30%">答复内容</td>
			<td width="20%">操作</td>
		</tr>
	</thead>
	<tbody>
		{{each autoreplys}}
		<tr>
			<td>{{$index + 1}}</td>
			<td>{{$value.keycontent}}</td>
			<td>{{$value.matchtype}}</td>
			<td>{{$value.replytype}}</td>
			<td>{{$value.replycontent}}</td>
			<td>
				<a href="{{getUrl 'autoReplyEdit'}}&pkReply={{$value.pkReply}}">编辑</a>
				<span>|</span>
				<a href="javascript:;" remove aid="{{$value.pkReply}}">删除</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{else}}
<div class="noData">
	<p>暂无数据</p>
	<a class="btn btn-primary" href="{{getUrl 'autoReplyEdit'}}">添加</a>
</div>
{{/if}}