<!-- 在线客服用户信息 -->

<div class="inner mt-10 pl-10 pt-10 pb-10">
	<p>
		<span class="black">用户真实姓名：</span>
		<span class="gray">{{name}}</span>
	</p>
	<p>
		<span class="black">会员级别：</span>
		<span class="gray">{{level}}</span>
	</p>
	<p>
		<span class="black">联系电话：</span>
		<span class="gray">{{tel}}</span>
	</p>
	<p>
		<span class="black">积分数量：</span>
		<span class="gray">{{score}}</span>
	</p>
	<p>
		<span class="black">常用地址：</span>
	</p>
	<p>
		{{address}}
	</p>
</div>