/**
 *description:后台配置管理-用户管理
 *author:fanwei
 *date:2014/08/15
 */

/* .add-wrap {
	width: 100%;
}

.add-wrap input {
	width: 198px;
	padding-left:2px;
	height: 28px;
	line-height: 28px;
	border:1px solid #ccc;
}

.add-wrap table {
	margin:10px auto 0 auto;
}

.add-wrap table td {
	padding:10px 0;
}

.add-wrap select {
	width: 200px;
	height: 28px;
	line-height: 28px;
	border:1px solid #ccc;
}

.add-wrap button {
	width: 100px;
	height: 30px;
} */