<!-- 列表编辑 -->
{{each content.modelars.modelData}}
<tr class="clearfix" sub-list data-ele="list-change">
	<td class="tc" width="60">
		<span class="sort mt-5" data-ele="sort">
			{{if now}}
				{{now}}
			{{else}}
				{{$index + 1}}
			{{/if}}
		</span>
	</td>
	<td width="130">
		<input type="text" class="r-text edit-name fl" value="{{$value.modelName}}" sub-name="modelName" data-ele="no-move" text-limit text-max="10">
		<span class="fl red ml-5 font-14">*</span>
	</td>
	<td width="205">
		<input type="text" class="r-text fl ml-50" value="{{$value.fontColor}}" data-ele="no-move" sub-name="fontColor" readonly="readonly" widget-color style="width:100px">
		<span class="fl red ml-5 font-14">*</span>
	</td>
	<td width="100">
		<select class="edit-select fl" sub-name="pageUrl" data-ele="no-move">
			<option value="">请选择</option>
			{{each pages as value1 index}}
				<option value="{{value1.weburl}}" {{if value1.weburl==$value.pageUrl}}selected="selected"{{/if}}>{{value1.webname}}</option>
			{{/each}}
			<option value="" select-link>自定义链接</option>
		</select>
	</td>
	<td width="100">
		<span class="r-btn mobile-list-remove" data-ele="no-move" remove-list></span>
	</td>
</tr>
{{/each}}
