<!-- 会议流程5 预览模板-->

<img src="{{bg}}" class="bg" width="234" height="392" data-ele="bg">
<div class="cover mt-30">
	{{=word}}
	<!-- <h3 class="tc red bold font-14 mb-10">{{word}}</h3> -->
	<!-- <div class="add-wrap">
		<ul class="clearfix" view-list-wrap>
			{{each List}}
			<li widget-role="tab-head" class="rel {{if $index == iNow}}active{{/if}}">
				<span remove class="remove-list {{if $index==0}}none{{/if}}">×</span>
				<img src="{{$value.logo}}" width="88" height="32">
			</li>
			{{/each}}
			<li data-ele="ele-add" class="tc ele-add" list-add style="width:90%">
				<span class="r-btn mobile-list-add mt-25 mb-5"></span>
				<br>
				<span>添加赞助商</span>
			</li>
		</ul>
	</div> -->
</div>